<?xml version="1.0" encoding="ISO-8859-1"?>
<installdata>
	<package>
		<name>IP.Downloads</name>
		<version>1.2.1</version>
		<versionlong>12006</versionlong>
		<build>1134742970</build>
		<license>Invision Power Services, Inc.
Invision Power Board Software

Nullified by DGT. If you like this script, go to buy it.

</license>
	</package>
</installdata>